* {

}
html {
	margin: 0;
	padding: 0;
	aheight: 100% !important;
	min-width: 100%;
	width: auto !important;
}
body {
	margin: 0;
	padding: 0;
	aheight: 100% !important;
	padding-bottom: 20px;
	overflow-y: scroll;
	overflow-x: auto;
	min-width: 100%;
	
	font-family: Open Sans, 'Open Sans', Segoe UI, Tahoma, Helvetica, Arial, sans-serif;
	background: #666 center center fixed;
	abackground-color: #666;
	background-size: cover;
	color: white;
}
body.search_mode {
	
}
	body::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background: #505050;
	}
	body::-webkit-scrollbar-thumb {
		background: #b0b1b2;
		border: solid #505050;
		border-width: 0 2px;
	}
a {
	color: white;
}
.icon-small {
	font-weight: normal;
	font-size: 12px;
}
.hide {
	display: none;
}

.button {
	display: inline-block;
	padding: 6px 10px;
	
	font-size: 14px;
	border: 2px solid white;
	background: #07a;
	color: white;
	text-decoration: none;
	cursor: default;
	-webkit-transition: background .08s ease;
}
.button:hover {
	background: #004766;
}
.button:active {
	background: #008fcc;
}
	.button i {
		margin-right: .6em;
	}

#window_space {
	height: 0;
}
	.window {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		background: rgba(0,0,0,0.6);
	}
		.window > div {
			position: fixed;
			top: 60px;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #555;
			background: #333;
			box-shadow: 0 0 20px rgba(0,0,0,0.6);
		}
			.window > div header {
				background: #555;
				margin: -20px -20px 10px;
				padding: 10px 20px;
				font-size: 14px;
			}
			.window > div .options {
				display: block;
				margin-bottom: 10px;
			}
				.window .options a {
					display: block;
					color: white;
					text-decoration: none;
					margin: 10px 0;
				}
		.window .buttons {
			margin-top: 10px;
		}
			.window .buttons a {
				cursor: pointer;
				background: #555;
				padding: 3px 10px 4px;
				margin-right: 10px;
			}
			.window .buttons a:hover {
				background: #505050;
				color: #e0e0e0;
				box-shadow: 0 0 5px rgba(0,0,0,.4);
			}
.wrapper {
	display: none;
}
.wrapper.displayed {
	display: block;
}
	.side {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 400px;
		
		background: rgba(0,0,0,0.45);
		-webkit-transition: background .2s ease;
	}
	#main .side {
		background: transparent;
	}
	body.search_mode #main .side {
		background: rgba(0,0,0,0.45);
	}
		#search {
		}
			#search_form {
				padding: 24px;
			}
			
			#search_input {
				width: 100%;
				
				font-size: 1.2em;
				font-family: Open Sans, 'Open Sans', Segoe UI, Tahoma, Helvetica, Arial, sans-serif;
				outline: none;
				opacity: .4;
				-webkit-transition: opacity .2s ease;
			}
			body.search_mode #search_input, #search_input:hover {
				opacity: 1;
			}
			#search_form [type="submit"] {
				display: none;
			}
			.side .options {
				overflow: hidden;
			}
			.side .options:first-child {
				padding-top: 20px;
			}
				.side .options a {
					display: block;
					color: white;
					text-decoration: none;
					padding: 8px 24px 8px 56px;
					background-size: 16px;
					background-repeat: no-repeat;
					background-position: 24px center;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
					.side .options a .from {
						font-size: smaller;
						color: #aaa;
					}
					.side .options a .url {
						display: block;
						font-size: smaller;
						color: #ccc;
					}
				.side .options a[href]:hover {
					background-color: rgba(0,0,0,0.3);
				}
					.side .options a[href]:hover .url {
						acolor: #aaa;
						atext-decoration: underline;
					}
				.side .options a[href].highlight {
					background-color: #07a;
				}
					.side .options a[href].highlight .url {
						acolor: #2ac;
						atext-decoration: underline;
					}
				.side .options a i {
					display: inline-block;
					width: 1em;
					margin-right: 1em;
					margin-left: -2em;
					
					text-align: center;
					text-shadow: 0 1px 1px black;
				}
				#ddg_banner {
					font-size: smaller;
					color: #d0d0d0;
					margin: 0;
				}
				#ddg_banner a {
					color: #d0d0d0;
				}
				
			body:not(.search_mode) #search_output, body:not(.search_mode) #search_results .instant {
				opacity: 0;
				height: 0;
				overflow: hidden;
			}
		.start {
			position: absolute;
			top: 80px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto 0;
			text-align: center;
			-webkit-perspective: 1720;
			-webkit-transition: opacity .5s ease;
			z-index: 10;
		}
		body.search_mode .start {
			opacity: 0;
			height: 0;
			overflow: hidden;
			z-index: 0;
		}
			#settings_launcher {
				position: fixed;
				right: 20px;
				top: -60px;
				padding: 4px 10px;
				
				font-size: 20px;
				color: white;
				opacity: 0.4;
				text-decoration: none;
				-webkit-transition: opacity .1s ease;
			}
			#settings_launcher:hover {
				color: white;
				opacity: 1;
			}
			#start_clock {
				position: fixed;
				bottom: 20px;
				right: 20px;
				z-index: 0;
				
				text-align: right;
			}
				#start_clock .date {
					display: block;
					
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
					color: rgba(255,255,255,.7);
				}
				#start_clock .time {
					display: block;
					
					font-size: 120px;
					color: rgba(255,255,255,.3);
					font-weight: 300;
					line-height: 80%;
					letter-spacing: -4px;
					text-align: right;
				}
				#start_clock .time .hour {
					font-weight: bold;
				}
			.start #speeddial:before {
				content: '';
				display: inline-block;
				height: 100%; 
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
			.start #speeddial {
				text-align: center;
				width: 100%;
				height: 100%;
			}
			.start #speeddial #dial_container {
				display: inline-block;
				vertical-align: middle;
				margin-top: -80px;
			}
			.start #speeddial a {
				display: inline-block;
				width: 120px;
				height: 120px;
				border: 10px solid transparent;
				margin: 0 5px;
				text-align: left;
				color: white;
				text-decoration: none;
				overflow: hidden;
				background: rgba(0,0,0,0.15);
				abox-shadow: inset 0 1px 1px -1px rgba(255,255,255,.2), 0 1px 1px -1px rgba(255,255,255,.2), inset 0 -1px 1px -1px rgba(0,0,0,.3), 0 -1px 1px -1px rgba(0,0,0,.3);
				aborder: 1px solid rgba(0,0,0,0.12);
				-webkit-transition: box-shadow .1s ease, background .1s ease;
			}
			.start #speeddial a:hover {
				box-shadow: 0 0 1px rgba(255,255,255,.6);
			}
			.start #speeddial a.highlight {
				background: rgba(20, 60, 90, .3);
				background: rgba(0,119,170,.5);
				box-shadow: 0 0 1px rgba(255,255,255,.6);
			}
				.start #speeddial a .small {
					font-size: 16px;
				}
				.start #speeddial a .content {
					font-size: 20px;
					height: 90px;
					overflow: hidden;
					display: inline-block;
					width: 100%;
				}
				.start #speeddial a .title {
					font-size: 14px;
					vertical-align: top;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: clip;
				}
				.start #speeddial a img {
				}
.section {
	display: none;
	position: absolute;
	right: 0;
	left: 400px;
	top: 0;
	min-height: 100%;
	padding: 0 20px 0 30px;
	
	background: rgba(0,0,0,0.7);
}
.section.displayed {
	display: block;
}
#search_results {
	display: block;
	
	background: transparent;
	opacity: 0;
	-webkit-transition: background 0 ease .2s, opacity .15s linear;
}
body.search_mode #search_results {
	background: rgba(0,0,0,0.7);
	opacity: 1;
	-webkit-transition: background .2s ease, opacity 0s linear;
}
	.section h1 {
		font-weight: 300;
		padding: 0;
	}
	.section h1.no-results:after {
		content: 'No results';
		padding: 2px 6px;
		margin-left: 10px;
		vertical-align: middle;
		
		text-transform: uppercase;
		font-size: 14px;
		background: rgba(70,70,70,0.5);
	}
	.section h1.load-results:after {
		content: '·';
		margin-left: 10px;
		
		font-size: 18px;
		font-weight: bold;
		-webkit-animation: pulse 1.5s ease;
		-webkit-animation-iteration-count: infinite;
	}
	@-webkit-keyframes pulse {
		0% {opacity: 0.0; margin-left: 10px;}
		50% {opacity: 1.0; }
		100% {opacity: 0.0; margin-left: 20px;}
	}
	
	/** Duckduckgo, Flickr, Last.fm, Youtube, WolframAlpha **/
	.section .instant {
		-webkit-transition: opacity .2s ease;
	}
		.section .instant>a, .section .instant>.answer {
			margin: 20px 0 20px;
			display: block;
			color: white;
			text-decoration: none;
			background: transparent;
			white-space: normal;
			-webkit-transition: background .03s ease;
		}
		.section .instant>a[href]:hover {
			background: rgba(255,255,255,.2);
		}
		#resultsduckduckgo>a {
			padding: 10px;
			background-color: rgba(255,255,255,.2);
		}
		.section .instant>.oneline.answer {
			margin: 6px 0;
		}
		.section .instant> .video.answer {
			width: 400px;
			display: inline-block;
			margin: 0 10px 10px 0;
			clear: left;
			vertical-align: top;
		}
		.section .instant>a[style], .section .instant>.answer[style] {
			padding-left: 36px;
			background-position: 10px center;
			background-repeat: no-repeat;
			background-size: 1em;
		}
			.section .instant > .answer h3 {
				margin: 0 0 6px;
				font-size: 16px;
			}
			.section .instant > .answer .image-answer {
				display: inline-block;
				margin: 6px 6px 6px 0;
				padding: 4px 6px;
				background: white;
			}
			.section .instant>a .album-thumbnail {
				display: inline-block;
				width: 34px;
				height: 34px;
				vertical-align: middle;
				margin-right: 10px;
			}
			.section .instant>a .song-name {
				font-weight: 600;
			}
			.section .instant> .answer .video-thumbnail {
				float: left;
				margin-right: 10px;
			}
			.section .instant> .answer .video-author {
				font-size: 14px;
				color: #d0d0d0;
			}
			.section .instant>a .url, .section .instant>.answer .url {
				margin-left: 1em;
				opacity: .8;
				font-size: smaller;
			}
			.section .instant>a .inlink_banner, .section .instant>.answer .inlink_banner {
				display: block;
				text-align: right;
				clear: both;
				opacity: .8;
				font-size: smaller;
			}
			.section .instant>.answer a {
				color: #c0daf0;
				text-decoration: underline;
			}
			.section .instant>.answer a:hover {
				text-decoration: none;
			}
		.section .instant > .photo-ribbon {
			margin: 0 0 10px;
		}
			.section .instant > .photo-ribbon .photo {
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				margin: 0 5px 5px 0;
				width: 80px;
				height: auto;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
				.section .instant > .photo-ribbon .photo img {
					width: 80px;
					height: 80px;
					background: #666;
				}
				.section .instant > .photo-ribbon .photo a {
					color: white;
				}
		
	
	#bookmarks {
		padding: 0 0 20px;
		overflow: hidden;
		-webkit-transition: opacity .2s ease;
		margin-top: 0;
	}
		#bookmarks h1 {
			padding: 0;
			margin-top: 0;
		}
		#bookmarks h2 {
			margin: 0px 0 8px;
			padding: 6px 10px;
			font-weight: normal;
			font-size: 20px;
			background: rgba(70,70,70,.6);
		}
		#bookmarks a + h1 {
			margin-top: 16px;
		}
		#bookmarks h3 {
			font-size: 16px;
			margin: 12px 0 0;
		}
		#bookmarks a {
			display: block;
			margin: 6px 0 6px;
			padding-left: 24px;
			background-size: 16px;
			background-repeat: no-repeat;
			background-position: 2px center;
			color: white;
			text-decoration: none;
			overflow: hidden;
			text-overflow: clip;
		}
		#bookmarks a:hover {
			color: #ddd;
		}
	body:not(.search_mode) #bookmarks, body:not(.search_mode) .section .instant {
		opacity: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		margin-left: -10px;
	}
	.section form input[type="text"] {
		display: block;
		min-width: 300px;
		margin: 6px 0;
	}
	#current_dial {
	
	}
		#current_dial a {
			display: inline-block;
			vertical-align: top;
			width: 100px;
			height: 100px;
			padding: 10px;
			position: relative;
			margin: 0 0 10px 0;
			
			font-size: 14px;
			background: rgba(255,255,255,.3);
			overflow: hidden;
			text-decoration: none;
			cursor: move;
		}
		#current_dial a:before {
			position: absolute;
			display: inline-block;
			width: 30px;
			height: 30px;
			left: 45px;
			top: 45px;
			
			content: "\f047";
			font-family: FontAwesome;
			font-size: 30px;
			opacity: .2;
		}
			#current_dial a * {
				-webkit-transition: opacity .08s ease;
			}
			#current_dial a .content {
				padding-right: 20px;
			}
			#current_dial a .title {
				position: absolute;
				display: block;
				bottom: 10px;
				
				white-space: nowrap;
			}
			#current_dial a .delete-icon {
				position: absolute;
				top: 0;
				right: 0;
				padding: 10px;
				
				opacity: 0.3;
				cursor: pointer;
			}
		#current_dial a:hover {
		
		}
		#current_dial a:hover:before {
			opacity: .6;
		}
			#current_dial a:hover .title, #current_dial a:hover .content {
				opacity: 1;
			}
			#current_dial a:hover .delete-icon {
				opacity: 1;
			}
			#current_dial a .delete-icon:hover {
				color: #f66;
			}
		#current_dial a.dragging {
			width: 0;
			padding: 10px 0;
			-webkit-transition: width .2s ease, padding .2s ease;
		}
		#current_dial a.dragging + .drop-icon-here {
			display: none;
		}
		#current_dial .drop-icon-here {
			display: inline-block;
			height: 120px;
			width: 10px;
			
			background: transparent;
		}
		#current_dial .drop-icon-here:first-child {
			width: 0;
		}
	#current_dial.ondrag {
	
	}
		#current_dial.ondrag a {
			opacity: 0.6;
		}
		#current_dial.ondrag .drop-icon-here {
			width: 50px;
			
			-webkit-transition: width .2s ease, background .2s ease;
		}
		#current_dial.ondrag .drop-icon-here.ondragover {
			background: rgba(255,255,255,.4);
		}
	#add_icon_form [type="submit"] {
		height: 0;
		width: 0;
		padding: 0;
		margin: 0;
		border: 0px solid;
		visibility: hidden;
	}
			
	#wallpaper_settings {
	
	}
		#wallpaper_settings input.wp-select {
			display: none;
		}
		#wallpaper_settings input.wp-select + label {
			width: 88px;
			display: inline-block;
			margin: 0 6px 6px 0;
			padding: 66px 4px 6px 4px;
			
			background: #666 no-repeat top left;
			line-height: 100%;
			font-size: 14px;
		}
		#wallpaper_settings input.wp-select:checked + label {
			border: 2px solid #07a;
			margin: -2px 4px 4px -2px;
		}
	.logo {
		font-size: 80px;
		font-weight: 200;
		letter-spacing: -5px;
	}
		.logo .version {
			font-size: 24px;
			letter-spacing: -2px;
		}


